/* Facebook */
.facebook {
    display: inline-block;
    width: 45px;
    height: 45px;
    background: #f1f1f1;
    margin: 10px;
    border-radius: 30%;
    box-shadow: 0 5px 15px -5px #00000070;
    color: #3b5998;
    overflow: hidden;
    position: relative;
}

.facebook i {
    line-height: 45px;
    font-size: 26px;
    transition: 0.2s linear;
}

.facebook:hover i {
    transform: scale(1.3);
    color: #f1f1f1;
}

.facebook::before {
    content: "";
    position: absolute;
    width: 120%;
    height: 120%;
    background: #3b5998;
    transform: rotate(45deg);
    left: -110%;
    top: 90%;
}

.facebook:hover::before {
    animation: aaa 0.7s 1;
    top: -10%;
    left: -10%;
}

@keyframes aaa {
    0% {
        left: -110%;
        top: 90%;
    }
    50% {
        left: 10%;
        top: -30%;
    }
    100% {
        top: -10%;
        left: -10%;
    }
}

/* Instagram*/
.instagram {
    display: inline-block;
    width: 45px;
    height: 45px;
    background: #f1f1f1;
    margin: 10px;
    border-radius: 30%;
    box-shadow: 0 5px 15px -5px #00000070;
    color: #fd1d1d;
    overflow: hidden;
    position: relative;
}

.instagram i {
    line-height: 45px;
    font-size: 26px;
    transition: 0.2s linear;
}

.instagram:hover i {
    transform: scale(1.3);
    color: #f1f1f1;
}

.instagram::before {
    content: "";
    position: absolute;
    width: 120%;
    height: 120%;
    background: #833ab4;
    background: -webkit-linear-gradient(to bottom, #fcb045, #fd1d1d, #833ab4);
    background: linear-gradient(to bottom, #fcb045, #fd1d1d, #833ab4);

    transform: rotate(45deg);
    left: -110%;
    top: 90%;
}

.instagram:hover::before {
    animation: aaa 0.7s 1;
    top: -10%;
    left: -10%;
}

@keyframes aaa {
    0% {
        left: -110%;
        top: 90%;
    }
    50% {
        left: 10%;
        top: -30%;
    }
    100% {
        top: -10%;
        left: -10%;
    }
}

/* LinkedIn*/
.linkedin {
    display: inline-block;
    width: 45px;
    height: 45px;
    background: #f1f1f1;
    margin: 10px;
    border-radius: 30%;
    box-shadow: 0 5px 15px -5px #00000070;
    color: #0a75b5;
    overflow: hidden;
    position: relative;
}

.linkedin i {
    line-height: 45px;
    font-size: 26px;
    transition: 0.2s linear;
}

.linkedin:hover i {
    transform: scale(1.3);
    color: #f1f1f1;
}

.linkedin::before {
    content: "";
    position: absolute;
    width: 120%;
    height: 120%;
    background: #0a75b5;
    transform: rotate(45deg);
    left: -110%;
    top: 90%;
}

.linkedin:hover::before {
    animation: aaa 0.7s 1;
    top: -10%;
    left: -10%;
}

@keyframes aaa {
    0% {
        left: -110%;
        top: 90%;
    }
    50% {
        left: 10%;
        top: -30%;
    }
    100% {
        top: -10%;
        left: -10%;
    }
}

/* GitHub*/
.github {
    display: inline-block;
    width: 45px;
    height: 45px;
    background: #f1f1f1;
    margin: 10px;
    border-radius: 30%;
    box-shadow: 0 5px 15px -5px #00000070;
    color: #000000;
    overflow: hidden;
    position: relative;
}

.github i {
    line-height: 45px;
    font-size: 26px;
    transition: 0.2s linear;
}

.github:hover i {
    transform: scale(1.3);
    color: #f1f1f1;
}

.github::before {
    content: "";
    position: absolute;
    width: 120%;
    height: 120%;
    background: #000000;
    transform: rotate(45deg);
    left: -110%;
    top: 90%;
}

.github:hover::before {
    animation: aaa 0.7s 1;
    top: -10%;
    left: -10%;
}

@keyframes aaa {
    0% {
        left: -110%;
        top: 90%;
    }
    50% {
        left: 10%;
        top: -30%;
    }
    100% {
        top: -10%;
        left: -10%;
    }
}